.error,
.success {
  font-size: 1.8rem;
  color: aliceblue;
  border-radius: .8rem;
  padding: .8rem;
  box-shadow: 0 0 1rem rgb(53, 53, 53);
}

.error {
  background-color: rgb(252, 69, 45);
}

.success {
  background-color: rgb(142, 219, 109);
}