.header {
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  position: fixed;
  inset: 0;
  background: #242424;
  box-shadow: 0 0 2px #919191;
  z-index: 100;
}

.menuButtom {
  height: 100%;
  width: 3.5rem;
  padding: 0.5rem;
  position: relative;
  z-index: 99;
  cursor: pointer;
  border-radius: 5rem;
  transition: all .3s;
}
.menuButtom:hover {
  background: #91919179;
}
